body {
  background: rgb(235, 239, 242);
  color: rgb(17, 15, 26);
  font-family: "Times New Roman", Times, serif;
}

nav {
  background: white;
  border-bottom: 1px solid rgb(17, 15, 26);
}

.card {
  background: white;
  border: 1px solid rgb(17, 15, 26);
}

.card:hover {
  background: rgb(251, 247, 236);
}

.card-full {
  background: rgb(251, 247, 236);
}

.card-link {
  text-decoration: none;
  color: rgb(17, 15, 26);
}
